NEXT_PUBLIC_SUPABASE_URL=https://kyhmumioiaafonybsfed.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imt5aG11bWlvaWFhZm9ueWJzZmVkIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjUxNzI5OTYsImV4cCI6MjA4MDc0ODk5Nn0.onElsZZQqzc89JY7MFeysU6kzla-2uNlbL3sRJ1683c
SLACK_WEBHOOK_URL=
LINE_CHANNEL_ACCESS_TOKEN=
